# This file is a template for the .env file that will be used in the project.
# The .env file is used to store environment variables that will be used in the project.

# ----------------------------------------
# NODE ENVIRONMENT
# ----------------------------------------

# The port that the server will run on
PORT=3000
# The environment that the server is running in
NODE_ENV=development


# ----------------------------------------
# DATABASE CONFIGURATION
# ----------------------------------------

# The username for the database
DB_USERNAME=your_database_username
# The host for the database
DB_HOST=your_database_host
# The port for the database
DB_PORT=your_database_port
# The password for the database
DB_PASSWORD=your_database_password
# The name of the database
DB_NAME=your_database_name


# ----------------------------------------
# DEFAULT USER CREDENTIALS
# ----------------------------------------

# The default username for the admin user
DEFAULT_USER_NAME=your_default_admin_username
# The default email for the admin user
DEFAULT_USER_EMAIL=your_default_admin_email
# The default password for the admin user
DEFAULT_USER_PASSWORD=your_default_admin_password


# ----------------------------------------
# JWT CONFIGURATION
# ----------------------------------------

# The secret key that will be used to sign the JWT tokens
JWT_SECRET=your_jwt_secret_key_here
# The expiration time for the JWT tokens
JWT_EXPIRATION=1h