services:
  db:
    image: postgres:14.3
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    container_name: lambda-analytics-db
    volumes:
      - ./postgres:/var/lib/postgresql/data
  backend:
    build:
      context: .
    container_name: lambda-analytics-backend
    restart: always
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - ./.env
    depends_on:
      - db
      - redis

  redis:
    image: redis:7.0-alpine
    container_name: lambda-analytics-redis
    restart: always
    ports:
      - "6379:6379"

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: lambda-analytics-redis-commander
    restart: always
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8081:8081"
    depends_on:
      - redis